.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99vw;
  padding: 10px 0px 10px 0px;
  height: 6vh;
  align-items: center;
  margin-bottom: 50px;
  border: 2px solid #264653b1;
}

.Title {
  font-size: 30px;
  text-align: center;
  color: #e76f51;
}
